$buttonSubmitBorderColor: $base-D2;
$buttonSubmitDarkColor: $base-L0;
$buttonSubmitFontColor: $base-L3;
$buttonSubmitLightColor: $base-L1;
$buttonSubmitShadowColor: $base-D1;
$errorColor: $warning-L0;
$fieldsetBorderColor: $base-D3;
$inputBackgroundColor: $base-L4;
$inputBorderColor: $base-D1;
$inputFontColor: $base-D4;
$pageBackgroundColor: $base-L3;
$pageDarkBackgroundColor: $base-L3;
$pageFontColor: $base-D3;
$pageLightBackgroundColor: $base-L4;
$tableCellBorderColor: $base-D3;
$tableHeadCellBackgroundColor: $base-L3;
$titleReportBorderColor: $base-D3;
$titleColor: $base-D4;
