$defaultBorderSize: 1px;
$defaultFontRatio: $minor-second;
$defaultFontSize: 1em / $defaultFontRatio;
$labelWidth: 10em;
$logoHeight: 150px;
$logoWidth: 300px;
$pageWidth: 36em;
$titleHeaderFontSize: 1em * $octave;
$titleSubHeaderFontSize: 1em * $minor-sixth;
